body
{
  background-color: #444;
  margin: 0px;
  overflow: hidden;
  user-select: none; 
  -o-user-select: none; 
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
}
body.fail { background-color: white; font-size: 18px; }

.wall, .pawn { position: absolute; z-index: 1002; }
.grabbing { z-index: 1003; }
#pfAppPanel{ z-index: 9; }

div.board
{
  position: absolute;
  width: 748px;
  height: 748px;
  z-index: 1000;
}
div.board img.board { position: absolute; z-index: 1; }
div.gradient { position: absolute; z-index: 2; background-image: images/gradient.png; height: 100%; width: 10px; top: 0px; left: 10px; }
body.landscape:not(.mini-landscape) .gradient { display: block; }
body.landscape.mini-landscape .gradient { display: none; }
body.portrait .gradient { display: none; }


div.info { position: absolute; overflow: hidden; }
h1
{
  z-index: 1;
  margin: 0;
  color: #DDD;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
h1:hover { cursor: pointer; }

body.mini-landscape #pfAppBar { display: none; }
body.mini-portrait #pfAppBar { display: none; }

#title { width: 100%; height: 100%; }
body.landscape #title { font-size: 12px; height: 10%; }
body.mini-landscape #title { font-size: 20px; text-align: left; line-height: 35px; }
body.portrait #title { position: absolute; line-height: 40px; }


#buttons { position: relative; width: 100%; height: 10%; }

body.landscape #buttons {  }
body.mini-landscape #buttons { display: none; position: absolute; }
body.portrait #buttons { position: absolute; height: 100%; }
body.mini-portrait #buttons { margin: 2px, 0; }

.button { position: absolute; width: 30px; height: 30px; }


body.landscape #tableDiv
{
  position: relative;
  overflow: hidden;
  background-color: #3B723B;
  width: 100%;
}
body.landscape:not(.mini-landscape) #tableDiv { height: 40% }
body.landscape.mini-landscape #tableDiv { position: absolute; height: 80%; }
body.portrait #tableDiv { display: none; }
body.portrait #scroller { display: none; }


body.landscape #divGraph { width: 100%; height: 40%; }
body.mini-landscape #divGraph { display: none; }
body.portrait #divGraph { display: none; }


.historyTable { margin-left: 5px; margin-right: 5px; color: #252525; }
.historyTable .portrait { display: none; }
.historyTable th[scope=col] { text-align: left; font-weight: bold; }
.historyTable th+th[scope=col] { width: 50%; text-align: center; font-weight: bold; }
.historyTable th[scope=row] { text-align: right; }
.historyTable td { text-align: center; }
.historyTable th[scope="past"] { color: #616161; text-align: right; }
.historyTable td[scope="past"] { color: #616161; text-align: center; }

div.hidden-div { position: absolute; overflow: hidden; }

#signIn { position: absolute; width: 79px; height: 30px; }
body.landscape.mini-landscape #signIn { display: visible; }
body.landscape:not(.mini-landscape) #signIn { display: none; }
body.portrait.mini-portrait #signIn { display: visible; margin: 2px, 0; }
body.portrait:not(.mini-portrait) #signIn { display: none; }

